<div class="capso-comments">
    <div class="add-comment">
        <img ng-src="{{CapsoCommentsCtrl.loggedInUserProfileImgUrl}}"
            ui-sref="user-profile.overview"
            class="add-comment-user-img"
        />
        <div class="add-comment-textarea-container">
            <textarea 
                capso-autosize
                placeholder="Add Comment"
                class="add-comment-textarea"
                rows="1"
                ng-model="CapsoCommentsCtrl.newCommentText"
            ></textarea>
        </div>

        <button
            ng-click="CapsoCommentsCtrl.addComment()"
            class="btn btn-primary add-comment-button">
            Add Comment
        </button>
    </div>

    <div ng-hide="CapsoCommentsCtrl.comments"
        class="is-loading-message-container">
        <capso-is-loading
            message="Loading comments..."
        ></capso-is-loading>        
    </div>

    <div ng-show="CapsoCommentsCtrl.isSavingComment"
        class="is-loading-message-container">
        <capso-is-loading
            message="Saving comment..."
        ></capso-is-loading>
    </div>

    <div ng-show="CapsoCommentsCtrl.isSavingCommentError"
        class="failed-to-save-comment-message">
        Failed to save comment.
    </div>

    <div class="comments">
        <div ng-repeat="eachComment in CapsoCommentsCtrl.comments | orderBy: '-created'"
            ng-if="!eachComment.isDeleted"
            class="comment">

            <div ng-show="eachComment.creator.id === CapsoCommentsCtrl.loggedInUserId">
                <button
                    ng-hide="eachComment.isDeleted"
                    ng-click="eachComment.delete()"
                    class="comment-delete-button btn btn-delete">
                    &times;
                </button>
                <div ng-show="eachComment.isDeleting"
                    class="comment-is-deleting-message-container">
                    <capso-is-loading
                        message="Deleting..."
                    ></capso-is-loading>
                </div>
                <div ng-show="!eachComment.isDeleting && eachComment.isDeletingAttemptError"
                    class="comment-deletion-error">
                    Failed to delete comment.
                </div>
            </div>
            
            <div class="comment-body">
                <img class="comment-author-img"
                    ng-src="{{eachComment.creator.profileImage}}"
                    ng-click="eachComment.creator.go()"
                />
                <div class="comment-header">
                    <a ng-click="eachComment.creator.go()"
                        ng-bind="eachComment.creator.getFullName()"
                        class="comment-author-fullname" 
                    ></a>
                </div>
                <p class="comment-text"
                    ng-bind="eachComment.comment">
                </p>
                <div class="comment-footer">            
                    <span class="comment-date-created">
                        <span ng-bind="eachComment.created | date"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
