.test-overview-view {
    width:100%;
    max-width:800px;
    margin:0 auto;
    font-size:1rem;

    header, main, footer {
        background:#fff;
        padding:2em;
        box-shadow: 0 2px 3px #ccc;
        border-radius: 0.3em;
        display: block;
    }
    header {
        text-align: center;
        img { max-width:20em; }
    }
    main, footer {
        margin:1em 0;
    }

    main {
        section {
            padding:1.5em 0;
        }
        section + section {
            border-top:1px solid #ddd;
        }
        h2 {
            font-size:1.3em;
            margin:0.5em 0;
        }
        h3 {
            font-size:1em;
            margin:1em 0 0.3em;
        }
        ul, ol {
            margin:0;
        }
        li + li {
            margin-top:0.3em;;
        }
        p {
            margin:0.5em 0;
        }
        pre {
            width: 100%;
            overflow-x: scroll;
            background: rgba(230,230,230,.25);
            padding: .5em;
        }
        em {
            background:rgb(255,240,200);
        }
        .api-response-properties {
            li {
                margin-top:2em;
            }
        }
        .filing-type {
            background:rgb(230,250,230);
        }
    }
}